* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.iframe {
    width: 100%;
    height: 600px;
}

.signup {
    width: 110px;
    height: 35px;
    padding: 5px;
    border-radius: 6px;
    color: white;
    background-color: #e63535;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signup:hover {
    background-color: #dc2626;
}

.signin {
    width: 110px;
    height: 35px;
    padding: 5px;
    border-radius: 6px;
    color: white;
    background-color: #22c55e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
}

.signin:hover {
    background-color: #16a34a;
}

.navbar {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.input_sign {
    width: 350px;
    height: 300px;
    margin: auto;
    padding: 0 20px;
}

.button_sign {
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
}

.button1 {
    width: 120px;
    height: 40px;
    background: #16a34a;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
}

.button1:hover {
    background: #22c55e;
}

.button2 {
    width: 120px;
    height: 40px;
    background: #e63535;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
}

.button2:hover {
    background: #dc2626;
}